/nbproject/private/
/.idea
/.settings
/dist
/.DS_Store
.project
.pydevproject
/nbproject
/build
*.pyc
*.ini
*.txt
/Stores.Hospital.html
/Stephano_be.egg-info
/data
/.coverage
/logs
/profiles
*.db
/cover
*.conf
*.egg-info
.vagrant
BEAGLE

deploy.sh
