{% extends base.html %}
{% block startup_script %}
		<script src="/static/js/require.js" type="text/javascript"  data-main="/static/js/loader"></script>
{% end %}

{% block title %}
	<h1>GISMOH</h1>
{% end %}

{% block content %}
	<section class="row-fluid">
		<div id="linker" class="span6"></div>
		<div id="patient_list" class="span6"></div>
	</section>
	<script type="text/template" id="patient_template">
		<div>
			<%- patient_id %>
			<span class="status" title="<%= type%> patient">
				<span class="icon-white <% if (type == "positive") { %> icon-warning-sign <%} else {%!> icon-info-sign <% } %>"></span>
			</span>
			<span class="relation">
				<span class="icon-white"></span>
			</span>
		</div>
		<div><%- location.speciality %> | <%- location.ward %></div>
	</script>
{% end %}